.section-title {
  width: 60%;
  margin: 100px auto 20px auto;
  z-index: 3;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color:#000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

