.feynman__subtitle { /*padding?*/
  width: auto;
  margin: 70px auto auto auto;
  padding: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:#000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

