.cover__overlay {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    background-size: cover;
    opacity: 30%;
    z-index: 1;
}

.cover__overlay:hover {
    transition: opacity 0.3s ease-in;
    opacity: 80%;
}